body {
    overflow-x:hidden;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color:#f8f9fa !important;
    height:100vh;
}
#menuPlace li {
    margin-top: 25px;
    font-family: inherit;
    font-size: 15px;
    color: black !important;
    margin-left: 25px;
}
#menuPlace > li > a  {
    color: black;
    margin-right: 25px;
    font-size: 16px;
    font-weight:400;
}
#menuPlace > li > a:hover {
    color: #7300ff !important;
}
.bigNumber {
    font-family: inherit;
    font-size: 25px;
    font-weight: 600;
    text-align:center;
}
.statsRow {
    margin-top: 30px;
    padding: 3%;
    border-width: 1px;
    border-radius: 30px;
    /* background-color: #e6fdff; */
    margin-left: 30px;
    /* margin-top: 30px;
    border-color: blue;
    border-style: solid; */
    background-image: linear-gradient(90deg,#92e5ed,#60B0F4);
    color: white;
}
.bigNumberSub {
    font-family: inherit;
    text-align:center;
    font-weight: bold;
}
.buttonRow {
    padding: 4%;
    /* border-style:solid; */
    border-width: 1px;
    /* border-color: #7300ff; */
    border-radius: 30px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.buttonRow i {
    font-size: 70px;
}
.buttonRow:hover{
    background-image: linear-gradient(90deg,#92e5ed,#60B0F4);
    color:black;
}
.buttonRow:hover div > h5 {
    color:white;
}
.buttonRow > div > h5 {
    font-family:inherit;
    font-weight: bold;
}
.contentControl {
    border-color: #8403EE;
}
.feedbackRow{
    padding: 1%;
    margin-left:30px;
    /* background-color:white; */
}
.feedbackRow h3 {
    font-family:inherit;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color:white;
    padding:3%;
}
.feedbackRow p {
    font-family:inherit;
    font-weight: 12px;
    font-style: italic;
    text-align:center;
}
.feedbackRow h5 {
    font-family:inherit;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color :white;
    padding:3%;
}
.courseControl {
    border-bottom-style: solid !important; 
    border-top-style: none !important;
    border-right: none !important;
    border-left: none !important;
    border-color: blue !important;
    font-family:inherit !important;
}
.courseLable {
    font-family:inherit !important;
}
.loginRow {
    background-image: url(../images/BG.jpg);
    background-size:cover;
    background-position: center;
    height:85vh;
}
.sidebarHover:hover {
    background-color:white !important;
    color:black !important;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.sidebarHover:hover > div > i {
    color:#7300ff !important;
}
.sidebarHover:hover > div > a > p {
    color:#7300ff !important;
}
.activate {
    background-color:white !important;
    color:black !important;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.activate > div > a > i {
    color:#7300ff !important;
}

