{% load static %}
<!DOCTYPE html>
<head>
    <title>My Lingua:Language App</title>
    <link rel = "stylesheet" href = "{% static '/css/bootstrap.min.css' %}"> 
   <link rel = "stylesheet" href = "{% static '/css/mdb.min.css' %}"> 
    <link rel = "stylesheet" href = "{% static '/css/Config.css'%}">
    <link rel = "stylesheet" href = "{% static '/css/all.css' %}">
    <link rel = "stylesheet" href = "{% static '/css/fontawesome.css' %}">
    <link rel = "stylesheet" href = "{% static '/css/material-icons.css' %}">
</head>
<body>
    <div class = "body">
        <div class = "container-fluid" style="padding:0% !important;">
            <div class = "row">
                <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" id = "sidebar">
                    <div id = "menuContainer">
                        <nav class="navbar navbar-expand-lg" style="box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);background-color:#FFF !important;height:95px;">
                            <img class="navbar-brand" src = "{% static 'images/Logo2.png' %}" style="width:130px;"/>  
                            <h1 style="margin-left:25%;font-family:inherit;font-size:35px;font-weight:bold;">My Lingua: language platform</h1> 
                                <ul class = "navbar-nav ml-auto" id = "menuPlace">
                                    <li class = "nav-item LinkText">
                                        <a  href = "#" class = "nav-link">Home</a>
                                    </li>
                                    <li class = "nav-item LinkText">
                                        <a href = "#" class = "nav-link">Login</a>
                                    </li>
                                  <li class = "nav-item LinkText">
                                      <a href = "#" class = "nav-link">About</a>
                                  </li>
                                  <li class = "nav-item LinkText">
                                      <a href = "#" class = "nav-link">Contact</a>
                                  </li>
                             </ul>
                            </div>
                        </nav>
                    </div>
            </div>
               <div class = "col-lg-12 col-md-12 col-xs-12 col-sm-12">
                   {% block content %}
                       
                   {% endblock content %} 
               </div>
            </div>
        </div>
    </div>
    <div class = "secondContent">
        {% block SecondContent %}
            
        {% endblock SecondContent %} 
    </div>
    <script src = "{% static '/js/jquery-3.4.1.min.js' %}"></script>
    <script src = "{% static '/js/bootstrap.min.js' %}"></script>
    <script src = "{% static '/js/Config.js' %}"></script>
</body>