{% extends 'base.html' %}
{% load static %}
{% load myfilters %}
{% block content %}
<div class="row" style="background-color:#F4F9FF;">
    <div class="col-lg-3" style="padding:5%;margin-top:70px">
       <div class="row" style="border-bottom:solid;border-width:1px;margin-top:30px;margin-bottom:30px;">
           <div class="col-lg-2">
               <i class="material-icons" style="color:#8e8ee1;font-size:30px;">dashboard</i>
           </div>
           <div class="col-lg-10">
               <h5 style="font-family:'Droid sans' !important;font-weight:600;text-align:center;">Account pref</h5>
           </div>
       </div>
       <div class="row" style="border-bottom:solid;border-width:1px;margin-top:30px;margin-bottom:30px;">
        <div class="col-lg-2">
            <i class="material-icons" style="color:#bbe18e;;font-size:30px;">subject</i>
        </div>
        <div class="col-lg-10">
            <h5 style="font-family:'Droid sans' !important;font-weight:600;text-align:center;">Contents</h5>
        </div>
    </div>
    <div class="row" style="border-bottom:solid;border-width:1px;margin-top:30px;margin-bottom:30px;">
        <div class="col-lg-2">
            <i class="material-icons" style="color:#e18e8e;;font-size:30px;text-align:center;">swap_vert</i>
        </div>
        <div class="col-lg-10">
            <h5 style="font-family:'Droid sans' !important;font-weight:600;text-align:center;">Quizzes</h5>
        </div>
    </div>
    <div class="row" style="border-bottom:solid;border-width:1px;margin-top:30px;margin-bottom:30px;">
        <div class="col-lg-2">
            <i class="material-icons" style="color:red;font-size:30px;">feedback</i>
        </div>
        <div class="col-lg-10">
            <h5 style="font-family:'Droid sans' !important;font-weight:600;text-align:center;">Feedbacks</h5>
        </div>
    </div>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-6">
                        <div class = "card" style="border-style:none !important; box-shadow:none !important;padding:15%;"> 
                           <div class = "card-body">
                              <h2 class = "h2 card-title" style = "font-family:'source sans pro' !important;color:black;">Create Content</h2>
                              <form method="POST" enctype="multipart/form-data">
                                 {% csrf_token %}
                                 <div class="row" style="margin-bottom:20px;">
                                    <div class="col-lg-1">
                                       <label for = "id_contentValue" style="display:inline;"><i class="material-icons" style="font-size:30px;">turned_in</i></label>
                                    </div>
                                    <div class="col-lg-11">
                                       {%placeHolder form.contentTitle 'Title' 'form-control contentControl' %} 
                                    </div>
                                </div>  
                                <div class = "form-group">
                                    <div class="row">
                                        <div class="col-lg-4">
                                           <label style="display:inline;">content Level</label>
                                        </div>
                                        <div class="col-lg-8">
                                           {%placeHolder form.contentLevel 'Level' 'form-control contentControl' %} 
                                        </div>
                                    </div>      
                               </div>
                               <div class = "form-group">
                                <div class="row">
                                    <div class="col-lg-4">
                                       <label style="display:inline;">content ID</label>
                                    </div>
                                    <div class="col-lg-8">
                                       {%placeHolder form.selfID 'content ID' 'form-control contentControl' %} 
                                    </div>
                                </div>      
                           </div>
                                 <div class = "form-group">
                                     <div class="row">
                                         <div class="col-lg-1">
                                            <label for = "id_contentValue" style="display:inline;"><i class="material-icons" style="font-size:30px;">turned_in</i></label>
                                         </div>
                                         <div class="col-lg-11">
                                            {%placeHolder form.contentValue 'Text' 'form-control contentControl' %} 
                                         </div>
                                     </div>      
                                </div>
                                 <div class = "form-group">
                                     <div class="row">
                                         <div class="col-lg-1">
                                            <label for = "id_contentValue"><i class="material-icons" style="font-size:30px;">wallpaper</i></label>
                                         </div>
                                         <div class="col-lg-11">
                                            {%placeHolder form.contentImage 'Image' 'form-control contentControl' %}
                                         </div>
                                        </div>
                                 </div>
                                 <div class = "form-group">
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <label for = "id_contentValue"><i class="material-icons" style="font-size:30px;">play_circle_filled</i></label>
                                        </div>
                                        <div class="col-lg-11">
                                            {%placeHolder form.contentVideo 'Video' 'form-control contentControl' %}
                                        </div>
                                    </div>
                                 </div>
                                 <div class = "form-group">
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <label for = "id_contentValue"><i class="material-icons" style="font-size:30px;">mic</i></label>
                                        </div>
                                        <div class="col-lg-11">
                                            {%placeHolder form.contentAudio 'Audio' 'form-control contentControl' %}
                                        </div>
                                    </div>
                                   
                                 </div>
                                 <input type = "submit" class = "btn blue" name='content_btn' style="color:white;" value="create">
                              </form>
                             </div>
                           </div>
                        </div>
                           <div class="col-lg-6">
                            <div class = "card" style="border-style:none !important; box-shadow:none !important;padding:15%;"> 
                                <div class = "card-body">
                                   <h2 class = "h2 card-title" style = "font-family:'source sans pro' !important;color:black;">Create Feeedback</h2>
                                   <form method="POST">
                                        {% csrf_token %}
                                        <div class = "form-group">
                                            {%placeHolder feedback.feedbackTitle 'Title' 'form-control contentControl' %}
                                        </div>
                                        <div class = "form-group">
                                            {% placeHolder feedback.feedbackDescription 'Image' 'form-control contentControl' %}
                                        </div>
                                        <input type="submit" name='feedback_btn' style="color:white;" class="btn blue" value="submit">
                                   </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
</div>

{% endblock content %}