{% extends 'base.html' %}
{% load static %}
{% load myfilters %}
{% block content %}
<div class="row justify-content-center loginRow">
    <div class="col-lg-4">
        <form method="POST">
            {% csrf_token %}
            <div class = "card" style="border-style:none !important; box-shadow:none !important;padding:15%;"> 
                <div class = "card-body">
                   <h2 class = "h2 card-title" style = "font-family:'source sans pro' !important;color:black; text-align:center;">Create Instructor</h2>
                   <hr/>
                   <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class = "form-group">
                          <div class="row">
                                 <label for = "id_contentValue" class='courseLable'>username</label>
                                 {%placeHolder form.username '' 'form-control courseControl' %} 
                           </div>      
                      </div>
                      <div class = "form-group">
                        <div class="row">
                               <label for = "id_contentValue" class='courseLable'>first name</label>
                               {%placeHolder form.first_name '' 'form-control courseControl' %} 
                            </div>
                      </div>   
                      <div class = "form-group">
                        <div class="row">
                               <label for = "id_contentValue" class='courseLable'>last name</label>
                               {%placeHolder form.last_name '' 'form-control courseControl' %} 
                         </div>      
                    </div>  
                    <div class = "form-group">
                        <div class="row">
                               <label for = "id_contentValue" class='courseLable'>Email</label>
                               {%placeHolder form.email '' 'form-control courseControl' %} 
                            
                         </div>      
                    </div> 
                    <div class = "form-group">
                        <div class="row">
                               <label for = "id_contentValue" class='courseLable'>Is instructor</label>
                               {%placeHolder form.is_instructor '' 'form-control courseControl' %} 
                         </div>      
                    </div> 
                    <div class = "form-group">
                        <div class="row">
                               <label for = "id_contentValue" class='courseLable'>password</label>
                               {%placeHolder form.password1 '' 'form-control courseControl' %} 
                         </div>      
                    </div> 
                    <div class = "form-group">
                        <div class="row">
                               <label for = "id_contentValue" class='courseLable'>confirm password</label>
                               {%placeHolder form.password2 '' 'form-control courseControl' %} 
                         </div>      
                    </div> 
            <input type="submit" name='courseSubmit' class='btn btn-green' value="create"/>
        </form>
    </div>
   
</div>
 
{%endblock content %}