{% extends 'base.html' %}
{% load static %}
{% load myfilters %}
{% block content %}
  <form method="POST">
      {% csrf_token %}
    {% for i in nu%}
    <div class="row">
        <lable>
            Question number {{i}}
        </lable>
        <textarea type='text' name='question_{{i}}' rows=1 cols=40></textarea>
    </div>
        {% for choice in choices %}
          
            <div class="row">
                <lable>{{choice}}</lable>
                <input type="text" name='{{i}}{{choice}}'>
            </div>
        {% endfor %}
   
     
    {% endfor %}
    <input type="submit" name='btn_sub'>
</form>
{% endblock content %}